<ion-content>
  <div *ngIf="!login_flag">
    <div  align="center">
      <img src="img/sclub_logo.png" style="width: 50%; height: auto;"/>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item no-lines style="padding-left:0px;">
            <ion-input #myinput [(ngModel)]="u_email" type="email" placeholder="이메일" clearInput></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
      <ion-row>
        <ion-col>
          <ion-item no-lines style="padding-left:0px;">
            <ion-input #myinput [(ngModel)]="u_password" type="password" placeholder="비밀번호" clearInput></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
            <button ion-button block color="primary" (click)="DoMemberLogin()">이메일 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center">
          <button ion-button icon-start block color="google" (click)="DoGoogleLogin()">
            <ion-icon name="logo-google" color="whiteSclub"></ion-icon>&nbsp;&nbsp;&nbsp;구글 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center">
          <button ion-button icon-start block color="facebook" (click)="DoFbLogin()">
            <ion-icon name="logo-facebook" color="whiteSclub"></ion-icon>&nbsp;&nbsp;&nbsp;페이스북 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><div class="spacer" style="height: 1px; background-color:#eeeeee" ></div></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>
          <button ion-button clear block color="graySclub" class="btn-end" style="height: 20px; margin-top: 0px; margin-bottom: 0px; padding-right: 0px; padding-left: 32px;" 
                  (click)="findPassword()">비밀번호 찾기</button>
        </ion-col>
        <ion-col col-2>
          <button ion-button clear block color="graySclub" disabled style="height: 20px; margin-top: 0px; margin-bottom: 0px;">|</button>
        </ion-col>
        <ion-col col-5>
          <button ion-button clear block color="graySclub" class="btn-start" style="height: 20px; margin-top: 0px; margin-bottom: 0px; padding-right: 32px; padding-left: 0px;" 
                  (click)="signUp()">회원 가입</button>
        </ion-col>
      </ion-row> 
    </ion-grid>
  </div>
  <!--
  <button ion-button block color="blackSclub" (click)="replacePhonetoEmail()">Replace Phone to Email</button>
  -->
  <div *ngIf="login_flag">
    <div class="spacer" style="height: 20px;"></div>
    <ion-item no-lines (click)="setMySelf()">
      <ion-thumbnail item-start>
        <img *ngIf="isPhoto" [src]="u_photo"/>
        <img *ngIf="!isPhoto" src="img/noUserImg.png"/>
      </ion-thumbnail>
      <h2>{{u_name}}</h2>
      <p>{{u_email}}</p>
      <button ion-button icon-only clear item-end>
        <ion-icon md="ios-arrow-forward" item-end color="graySclub"></ion-icon>
      </button>
    </ion-item>
    <div class="spacer" style="height: 20px;"></div>
    <ion-item-divider color="light">
      <span style="font-size: 12pt; font-weight:bold; color:black;">Setting by club</span>
      <ion-icon name="ios-pie-outline" item-right color="graySclub" (click)="statistics()"></ion-icon>
    </ion-item-divider>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list *ngFor="let mc of myClubs">
      <ion-item no-lines (click)="setMyClub(mc.mc_club_id)">
        <ion-avatar item-start>
          <img *ngIf="mc.club_emblem != 'NaN'" [src]="mc.club_emblem"/>
          <img *ngIf="mc.club_emblem == 'NaN'" src="img/noUserImg.png"/>
        </ion-avatar>
        <h2>{{mc.mc_club_name}}</h2>
        <ion-icon name="ios-arrow-forward" item-right color="graySclub"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>