<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div  *ngIf="!login_flag">
    <div  align="center">
      <img src="img/sclub_logo.png" style="width: 50%; height: auto;"/>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item no-lines style="padding-left:0px;">
            <ion-input #myinput [(ngModel)]="u_email" type="email" placeholder="이메일" clearInput></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
      <ion-row>
        <ion-col>
          <ion-item no-lines style="padding-left:0px;">
            <ion-input #myinput [(ngModel)]="u_password" type="password" placeholder="비밀번호" clearInput></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
            <button ion-button block color="primary" (click)="DoMemberLogin()">이메일 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center">
          <button ion-button icon-start block color="google" (click)="DoGoogleLogin()">
            <ion-icon name="logo-google" color="whiteSclub"></ion-icon>&nbsp;&nbsp;&nbsp;구글 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center">
          <button ion-button icon-start block color="facebook" (click)="DoFbLogin()">
            <ion-icon name="logo-facebook" color="whiteSclub"></ion-icon>&nbsp;&nbsp;&nbsp;페이스북 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><div class="spacer" style="height: 1px; background-color:#eeeeee" ></div></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>
          <button ion-button clear block color="graySclub" class="btn-end" style="height: 20px; margin-top: 0px; margin-bottom: 0px; padding-right: 0px; padding-left: 32px;" 
                  (click)="findPassword()">비밀번호 찾기</button>
        </ion-col>
        <ion-col col-2>
          <button ion-button clear block color="graySclub" disabled style="height: 20px; margin-top: 0px; margin-bottom: 0px;">|</button>
        </ion-col>
        <ion-col col-5>
          <button ion-button clear block color="graySclub" class="btn-start" style="height: 20px; margin-top: 0px; margin-bottom: 0px; padding-right: 32px; padding-left: 0px;" 
                  (click)="signUp()">회원 가입</button>
        </ion-col>
      </ion-row> 
    </ion-grid>
  </div>
</ion-content>
