<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{club_name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item no-lines color="none" no-lines>
    <ion-avatar item-left>
      <img  *ngIf="ownerImgFlag" [src]="club_owner_image" />
      <img  *ngIf="!ownerImgFlag" src="img/empty.png" />
    </ion-avatar>
    <h2>
      Club owner: {{club_owner_name}}
    </h2>
    <p>
      {{club_owner_email}}
    </p>
  </ion-item>
  <div class="spacer" style="height: 10px;"></div>
  <ion-list>
    <ion-item no-lines color="none" (click)="club()">
      <ion-icon name="ios-information-circle-outline" item-left></ion-icon>
      Club
      <ion-icon name="ios-arrow-forward" item-right color="graySclub"></ion-icon>
    </ion-item>
    <div class="spacer" style="height: 1px; background-color:#eeeeee;"></div>
    <ion-item no-lines color="none" (click)="members()">
      <ion-icon name="ios-people-outline" item-left></ion-icon>
      Members
      <ion-icon name="ios-arrow-forward" item-right color="graySclub"></ion-icon>
    </ion-item>
    <div class="spacer" style="height: 1px; background-color:#eeeeee;"></div>
    <ion-item no-lines color="none" (click)="schedule()">
      <ion-icon name="ios-calendar-outline" item-left></ion-icon>
      Schedule
      <ion-icon name="ios-arrow-forward" item-right color="graySclub"></ion-icon>
    </ion-item>
    <div class="spacer" style="height: 1px; background-color:#eeeeee;"></div>
    <ion-item no-lines color="none" (click)="notification()">
      <ion-icon name="ios-megaphone-outline" item-left></ion-icon>
      Notification
      <ion-icon name="ios-arrow-forward" item-right color="graySclub"></ion-icon>
    </ion-item>
    <div class="spacer" style="height: 1px; background-color:#eeeeee;"></div>
    <ion-item no-lines color="none" (click)="vote()">
      <ion-icon name="ios-hand-outline" item-left></ion-icon>
      Vote
      <ion-icon name="ios-arrow-forward" item-right color="graySclub"></ion-icon>
    </ion-item>
    <div class="spacer" style="height: 1px; background-color:#eeeeee;"></div>
    <ion-item no-lines color="none" (click)="teamSetup()">
      <ion-icon name="ios-settings-outline" item-left></ion-icon>
      Team Setup
      <ion-icon name="ios-arrow-forward" item-right color="graySclub"></ion-icon>
    </ion-item>
    <div class="spacer" style="height: 1px; background-color:#eeeeee;"></div>
    <ion-item no-lines color="none" (click)="memberFee()">
      <ion-icon name="ios-cash-outline" item-left></ion-icon>
      Member Fee
      <ion-icon name="ios-arrow-forward" item-right color="graySclub"></ion-icon>
    </ion-item>
    <div class="spacer" style="height: 1px; background-color:#eeeeee;"></div>
    <ion-item no-lines color="none" (click)="teamMatch()">
      <ion-icon name="ios-trophy-outline" item-left></ion-icon>
      Match
      <ion-icon name="ios-arrow-forward" item-right color="graySclub"></ion-icon>
    </ion-item>
    <div class="spacer" style="height: 1px; background-color:#eeeeee;"></div>
    <ion-item no-lines color="none" (click)="sessesion()">
      <ion-icon name="ios-trash-outline" item-left color="danger"></ion-icon>
      Sessesion
      <ion-icon name="ios-arrow-forward" item-right color="graySclub"></ion-icon>
    </ion-item>
    <div class="spacer" style="height: 1px; background-color:#eeeeee;"></div>
  </ion-list>
</ion-content>