.ios {
    page-team-match {
        .head-space {
            background-color: #ffffff !important;   //
            height: 20px;
        }
    }
}
page-team-match {
    .title.title-md {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 70%;
      text-align: center;
    }
}
