<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Match" tabIcon="ios-calendar-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Clubs" tabIcon="ios-albums-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="My Home" tabIcon="ios-home-outline"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="New Feeds" tabIcon="ios-paper-outline"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="More" tabIcon="ios-menu-outline"></ion-tab>
</ion-tabs>
