<ion-header>
    <ion-toolbar no-border-top color="whiteSclub">
        <ion-buttons left>
          <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-buttons right>
          <button ion-button icon-only  color="blackSclub" (click)="addTeam()">
            <ion-icon name="md-add"></ion-icon>
          </button>
        </ion-buttons>
        <ion-segment color="blackSclub">
          <ion-segment-button outline (click)="selectTeam()">Team</ion-segment-button>
          <ion-segment-button outline (click)="saveTeam()">Save</ion-segment-button>
          <ion-segment-button outline (click)="deleteTeam()">Delete</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
  
  </ion-header>
  <ion-content>
    <div class="item image-border" align="center"> 	
      <div *ngFor="let tp of teamPosition">
          <img class="positions" id="{{tp.po_short_name}}" (pan)="panEvent($event)" (click)="selectedPosition(tp)"
                [src]="tp.st_po_img" [ngStyle]="tp.po_r">
      </div>
      <img [src]="cc_pitch_image" class="img-pitch" style="width:100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>