.ios {
    page-board {
        .head-space {
            background-color: #ffffff !important;   //
            height: 20px;
        }
    }
}

page-board {
    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }
    .has-header { top: 44px; }
    .has-footer { bottom: 44px; }
        
    /* style for calendar 2016.11.26 */
    .ionic_Calendar .calendar_Date .row.Daysheading {text-align:center;}
    .ionic_Calendar .txtCenter {text-align:center;}
    .ionic_Calendar .col.selDate { background-color: #F4D03F; color:white; }
    .ionic_Calendar .col.fadeDateDisp, .col.fadeYear { background-color: #E9E9E9; color:#D5D5D5 }
    .ionic_Calendar .DaysDisplay.col{ border: 1px solid #F3F3F3; padding-top: 10px; font-weight: bolder; height: 40px;}
    .ionic_Calendar .DaysDisplay.row{ padding-left: 0px; padding-right: 0px; }
    .ionic_Calendar .marginTop0 { margin-top: 0px !important;}
    .ionic_Calendar .paddingBottom0 { padding-bottom: 0px !important;}
    .ionic_Calendar .Daysheading_Label .col { padding-bottom: 0px !important;}
    .ionic_Calendar .colVal { margin-top: 2px; margin-bottom: 0px;}
}
