<ion-header>
  <!-- <div class="head-space"></div> -->
  <ion-toolbar no-border-top color="whiteSclub">
      <ion-buttons left>
          <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-buttons>
      <ion-buttons right>
          <button ion-button icon-only color="blackSclub"  (click)="myClub()">
            <ion-icon name="ios-menu"></ion-icon>
          </button>
        </ion-buttons>
  </ion-toolbar>
      <ion-segment [(ngModel)]="segment" color="blackSclub">
        <ion-segment-button outline value="message">Message</ion-segment-button>
        <ion-segment-button outline value="schedule">Schedule</ion-segment-button>
        <ion-segment-button outline value="position">Position</ion-segment-button>
        <ion-segment-button outline value="dues">Fee</ion-segment-button>
      </ion-segment>
</ion-header>
<!--
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment>
      <ion-segment-button value="new">
        New
      </ion-segment-button>
      <ion-segment-button value="hot">
        Hot
      </ion-segment-button>
    </ion-segment>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
-->
<ion-content>
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'message'">
      <ion-list no-margin no-padding *ngFor="let gm of general_msgs">
        <ion-item  no-lines>
          <ion-avatar item-left>
            <img *ngIf="gm.creator_image == 'NaN'" src="img/noUserImg.png"/>
            <img *ngIf="gm.creator_image != 'NaN'" [src]="gm.creator_image"/>
          </ion-avatar>
          <h2>{{gm.creator_name}}</h2>
          <p>{{gm.msg_created_date}}</p>
        </ion-item>
        <div align="center">
            <!-- <img *ngIf="gm.msg_file == 'NaN'" src="img/noUserImg.png"/> -->
            <img *ngIf="gm.msg_file != 'NaN'" [src]="gm.msg_file"/>
        </div>
        <ion-item no-lines>
            <p style="margin-top:0px;color:#000000;">{{gm.msg_memo}}</p>
        </ion-item>
        <ion-row>
          <ion-col col-8 align="left">
          </ion-col>
          <ion-col col-2>
            <button  ion-button small color="blackSclub" clear icon-only (click)="addLikeCnt(gm.msg_id, gm.msg_like_cnt)">
              <ion-icon mini name="ios-thumbs-up-outline">
                <span style="font-size: 10pt; color:black;">{{gm.msg_like_cnt | number:0}}</span>
              </ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button  ion-button small color="blackSclub" clear icon-only (click)="addLikeCnt(gm.msg_id, gm.msg_like_cnt)">
              <ion-icon name="ios-chatboxes-outline" item-left>
                <span style="font-size: 10pt; color:black;">{{gm.reply_cnt | number:0}}</span>
              </ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <div class="spacer" style="height: 5px; background-color: #EBEDEF;"></div>
        <br><br>
      </ion-list>
    </ion-list>

    <ion-list *ngSwitchCase="'schedule'">
      <div class="ionic_Calendar">
        <div class="calendar_Date" ng-show="UICalendarDisplay.Date">
          <ion-row class="row" style="background-color: #3498DB;color: white;padding-top: 0px;padding-bottom: 0px;">
            <ion-col col-2 align="center">
                  <button ion-button color="light" clear icon-only icon-left (click)="selectedMonthPrevClick()">
                    <ion-icon name="ios-arrow-back" style="padding-left: 0px;"></ion-icon>
                  </button>
            </ion-col>
            <ion-col col-8 class="txtCenter">
                  <button class="txtCenter" ion-button clear style="background-color:#3498DB; color:white;">{{displayMonthYear}}</button>
            </ion-col>
            <ion-col col-2 align="center">
                  <button ion-button color="light" clear icon-only icon-left (click)="selectedMonthNextClick()">
                      <ion-icon name="ios-arrow-forward"></ion-icon>
                  </button>
            </ion-col>
          </ion-row>
          <ion-row align="center" class="row Daysheading Daysheading_Label" style="background-color:#27C2F1; color:white; height: 27px;">
            <ion-col>일</ion-col>
            <ion-col>월</ion-col>
            <ion-col>화</ion-col>
            <ion-col>수</ion-col>
            <ion-col>목</ion-col>
            <ion-col>금</ion-col>
            <ion-col>토</ion-col>
          </ion-row>
          <ion-row class="row Daysheading" *ngFor="let rowVal of datesDisp">
            <div class="col DaysDisplay" *ngFor="let colVal of rowVal"
                            [ngClass]= "{'fadeDateDisp':(colVal.type == 'oldMonth' || colVal.type == 'newMonth'),
                                        'selDate':(colVal.date == displayDate && colVal.type == 'currentMonth')}"
                            (click)="selectedDateClick(colVal)">
                            <p class="colVal" [ngStyle]="{'color': colVal.color}">{{colVal.date}}</p>
            </div>
            <!-- [ngStyle]="{'background-color': user.color}" -->

          </ion-row>
        </div>
      </div>
      <ion-card *ngFor="let s of schedule">
        <ion-item color="positive">
          <ion-avatar item-left>
            <img *ngIf="s.register_image != 'NaN'" [src]="s.register_image"/>  <!-- Request User -->
            <img *ngIf="s.register_image == 'NaN'" src="img/noUserImg.png"/>
          </ion-avatar>
          <h2>{{s.register_name}}</h2>
          <p>{{s.schedule_created}}</p>
        </ion-item>
        <ion-item>
          <div class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              Date <strong>{{s.start_date}} {{s.start_time}}-{{s.end_time}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Location <strong>{{s.g_location}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Invite Match <strong>{{s.divisionName}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Description <strong>{{s.description}}</strong>
            </p>
          </div>
        </ion-item>
        <ion-row>
          <ion-col col-4></ion-col>
          <ion-col col-3>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon mini name="ios-person-add-outline" item-left>
                <span style="font-size: 10pt; color:black;">{{s.attend_cnt}}</span>
              </ion-icon>
            </button>
          </ion-col>
          <ion-col col-3>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-sad-outline" item-left>
                <span style="font-size: 10pt; color:black;">{{s.non_attend_cnt}}</span>
              </ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-locate-outline" item-left>
                <span style="font-size: 10pt; color:black;"></span>
              </ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'position'">
      <ion-card *ngFor="let p of positions">
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'dues'">
      <ion-card *ngFor="let d of dues">
      </ion-card>
    </ion-list>
  </div>
  <div class="spacer" style="height: 5px;"></div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col col-2>
        <button ion-button icon-only clear color="blackSclub">
          <ion-icon name="ios-home-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear color="blackSclub">
          <ion-icon name="ios-home-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear color="blackSclub">
          <ion-icon name="ios-home-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear color="blackSclub">
          <ion-icon name="ios-home-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear color="blackSclub">
          <ion-icon name="ios-home-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear color="blackSclub">
          <ion-icon name="ios-home-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
