<ion-header>
  <div class="head-space"></div>
  <ion-navbar no-border-bottom color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Members</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="blackSclub"  (click)="addMember()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let m of members" style="margin-bottom: 0px; margin-top: 0px;">
    <ion-item no-lines (click)="updateMember(m.m_id)">
      <ion-thumbnail item-left>
        <img *ngIf="m.m_image != 'NaN'" [src]="m.m_image"/>
        <img *ngIf="m.m_image == 'NaN'" src="img/noUserImg.png"/>
      </ion-thumbnail>
      <h2>{{m.u_name}}</h2>
      <p style="margin-top:0px;color:#000000;">
        Role <strong>{{m.mrole_name}}</strong>
      </p>
      <p style="margin-top:0px;color:#000000;">
        Back Number <strong>{{m.m_back_no}}</strong>
      </p>
      <p style="margin-top:0px;color:#000000;">
        Position <strong>{{m.m_cp_name}}</strong>
      </p>
      <!--
      <p style="margin-top:0px;color:#000000;">
        Email <strong>{{m.m_email}}</strong>
      </p>
      -->
      <ion-icon name="ios-arrow-forward" item-right color="graySclub"></ion-icon>
    </ion-item>
    <div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div>
  </ion-list>
</ion-content>
