<ion-header>
    <div class="head-space"></div>
    <ion-toolbar color="whiteSclub">
      <ion-buttons left>
        <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Set Position</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <!-- <img [src]="image"/> -->
      <canvas #imageCanvas style="width:200px; height:200px"></canvas>
      <!-- <canvas #layout></canvas> -->
  </ion-content>
