<ion-header>
  <div class="head-space"></div>
  <ion-navbar no-border-bottom color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Member</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="selfUpdateFlag">
    <div *ngIf="imgFlag" class="item image-border" align="center" (click)="presentActionSheet()">
      <img class="img-camera" src="img/camera.png"/>
      <img *ngIf="!takePictureFlag" class="img-square" [src]="disp_image"/>
      <img *ngIf="takePictureFlag" class="img-square" src="{{pathForImage(lastImage)}}">
    </div>
    <div *ngIf="!imgFlag" class="item image-border" align="center" (click)="presentActionSheet()">
      <img class="img-camera" src="img/camera.png"/>
      <img *ngIf="!takePictureFlag" class="img-square" src="img/noUserImg.png"/>
      <img *ngIf="takePictureFlag" class="img-square" src="{{pathForImage(lastImage)}}">
    </div>
    <!--
      'm_email'=>$row['m_email'], 
      /// create/update for member
      'm_image'=>$row['m_image'],
      'm_nick'=>$row['m_nick'],
      'm_pp_id'=>$row['m_pp_id'], 
      'm_birthday'=>$row['m_birthday'], 
      'm_phone'=>$row['m_phone'], 
      'm_alarm'=>$row['m_alarm'],
    
      /// create/update for member
      'm_cp_id'=>$row['m_cp_id'], 
      'm_back_no'=>$row['m_back_no'],
      'm_role_id'=>$row['m_role_id'], 
      'm_admin'=>$row['m_admin'],  
    -->
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-label>Nick Name</ion-label>
          <ion-input [(ngModel)]="m_nick" type="text" placeholder="Nick name"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-label>Back Number</ion-label>
          <ion-input [(ngModel)]="m_back_no" type="text" readonly></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-label>Desired Position</ion-label>
          <ion-select [(ngModel)]="m_pp_id" class="select-item" cancelText="Cancel" okText="OK" (ionChange)="selectedPposition($event)">
            <ion-option *ngFor="let pp of positionInfo" [value]="pp.p_id">{{ pp.p_full_name }}</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
    <div *ngIf="updateFlag">
      <div class="spacer" style="height: 10px;"></div>
      <div style="padding-left: 5px; padding-right: 5px;">
        <div class="outline-box">
          <ion-item no-lines class="outline-item">
            <ion-label>Assigned Position</ion-label>
            <ion-input [(ngModel)]="cp_full_name" type="text" readonly></ion-input>
          </ion-item>
        </div>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-label>Birthday</ion-label>
          <ion-toggle [(ngModel)]="isBirthday" color="positive" (ionChange)="checkBirthday()"></ion-toggle>
        </ion-item>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-label>Phone</ion-label>
          <ion-toggle [(ngModel)]="isPhone" color="positive" (ionChange)="checkPhone()"></ion-toggle>
        </ion-item>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-label>Alarm</ion-label>
          <ion-toggle [(ngModel)]="isAlarm" color="positive" (ionChange)="checkAlarm()"></ion-toggle>
        </ion-item>
      </div>
    </div>
  </div>
  <div *ngIf="!selfUpdateFlag">
    <div *ngIf="imgFlag" class="item image-border" align="center">
      <img class="img-square" [src]="disp_image"/>
    </div>
    <div *ngIf="!imgFlag" class="item image-border" align="center">
      <img class="img-square" src="img/noUserImg.png"/>
    </div>
    <!--
      'm_email'=>$row['m_email'], 
      /// create/update for member
      'm_image'=>$row['m_image'],
      'm_nick'=>$row['m_nick'],
      'm_pp_id'=>$row['m_pp_id'], 
      'm_birthday'=>$row['m_birthday'], 
      'm_phone'=>$row['m_phone'], 
      'm_alarm'=>$row['m_alarm'],
    
      /// create/update for member
      'm_cp_id'=>$row['m_cp_id'], 
      'm_back_no'=>$row['m_back_no'],
      'm_role_id'=>$row['m_role_id'], 
      'm_admin'=>$row['m_admin'],  
    -->
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-label>Nick Name</ion-label>
          <ion-input [(ngModel)]="m_nick" type="text" readonly></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-label>Role</ion-label>
          <ion-select [(ngModel)]="m_role_id" class="select-item" cancelText="Cancel" okText="OK" (ionChange)="selectedRole($event)">
            <ion-option *ngFor="let mr of memberRole" [value]="mr.mrole_id">{{ mr.mrole_name }}</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-label>Back Number</ion-label>
          <ion-input [(ngModel)]="m_back_no" type="text" readonly></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-label>Desired Position</ion-label>
          <ion-input [(ngModel)]="pp_full_name" type="text" readonly></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-label>Assigned Position</ion-label>
          <ion-input [(ngModel)]="cp_full_name" type="text" readonly></ion-input>
        </ion-item>
      </div>
    </div> 
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
    <button *ngIf="updateFlag" ion-button block (click)="submitUpdate()">변경하기</button>
    <button *ngIf="!updateFlag" ion-button block (click)="submitCreate()">등록하기</button>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  </ion-content>