<ion-header color="whiteSclub">
  <div class="head-space"></div>
  <ion-navbar no-border-bottom>
    <ion-buttons left>
      <button ion-button icon-only  color="blackSclub" (click)="searchClub()">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="blackSclub"  (click)="addMyClub()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-row wrap>
      <ion-col col-6 *ngFor="let mc of myClubs">
        <ion-card  (click)="selectedClub(mc.mc_club_id)">
          <div align="center" *ngIf="mc.club_emblem == 'NaN'"><img src="img/noUserImg.png" style="width: 154px; height: 154px;"/></div>
          <div align="center" *ngIf="mc.club_emblem != 'NaN'"><img [src]="mc.club_emblem" style="width: 154px; height: 154px;"/></div>
          <ion-item class="myclubs">
            <button *ngIf="mc.mc_cc_id == '8'" ion-button icon-left block clear color="blackSclub">
              <ion-icon name="ios-football-outline" item-start color="blackSclub"></ion-icon><strong>{{mc.mc_club_name}}</strong>
            </button>
            <button *ngIf="mc.mc_cc_id == '10'" ion-button icon-left block clear color="blackSclub">
              <ion-icon name="ios-baseball-outline" item-start color="blackSclub"></ion-icon><strong>{{mc.mc_club_name}}</strong>
            </button>
            <button *ngIf="mc.mc_cc_id == '11'" ion-button icon-left block clear color="blackSclub">
              <ion-icon name="ios-basketball-outline" item-start color="blackSclub"></ion-icon><strong>{{mc.mc_club_name}}</strong>
            </button>
            <button *ngIf="mc.mc_cc_id == '12'" ion-button icon-left block clear color="blackSclub">
              <ion-icon name="ios-tennisball-outline" item-start color="blackSclub"></ion-icon><strong>{{mc.mc_club_name}}</strong>
            </button>
            <button *ngIf="mc.mc_cc_id == '99'" ion-button icon-left block clear color="blackSclub">
              <ion-icon name="ios-add-circle-outline" item-start color="blackSclub"></ion-icon><strong>{{mc.mc_club_name}}</strong>
            </button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-content>
