page-home {
  .title.title-md {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 70%;
      text-align: center;
    }
  .myclubs {
    padding-left: 10px;
    .item-start {
       margin-right: 0px;
    }
    .club-name {
       max-width: 100%;
       margin-top:0px;
       color:#000000;
    }
  }
  .ion-img {
    object-fit: cover;
  }
}
