.ios {
    page-sessesion {
        .head-space {
            background-color: #ffffff !important;   //
            height: 20px;
        }
    }
}
page-sessesion {
    .title.title-md {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 70%;
      text-align: center;
    }
    .image-border {
        position: relative;
        background: #ffffff;
    }
    .img-square{
        width: 200px;   //200px
        height: 200px;  //200px
        background-size: cover;
        display: block;
    }
}
