<ion-header>
    <div class="head-space"></div>
    <ion-toolbar color="whiteSclub">
      <ion-buttons left>
        <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Sessesion</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <h2 align="center"><font color="blue">{{club_name}}</font></h2>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div *ngIf="clubImgFlag" class="item image-border" align="center">
      <img class="img-square" [src]="club_emblem"/>
    </div>
    <div *ngIf="!clubImgFlag" class="item image-border" align="center">
      <img class="img-square" src="img/empty.png"/>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <h3 align="center"><ion-icon name="ios-alert-outline" color="danger"> 경고!!</ion-icon></h3>
    <h4 align="center"><font color="blue">sClub 서비스에서 탈퇴하시겠습니까?</font></h4>
    <h4 align="center">"탈퇴"을 선택하면 클럽 및 클럽에 가입되어 있는 멤버들의 모든정보가 서버에서 삭제됩니다.</h4>
    <h4 align="center"><font color="red">이 작업을 수행하면 다시 되돌릴 수 없습니다.</font></h4>
    <div class="spacer" style="width: 300px; height: 5px;"></div> 

    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <button ion-button block color="primary" (click)="cancel()">취소</button>
      <button ion-button block color="danger" (click)="secession()">탈퇴</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
