<ion-header>
  <ion-toolbar no-border-top color="whiteSclub">
    <ion-segment [(ngModel)]="category" color="blackSclub">
      <ion-segment-button value="football" outline (click)="selectedCategory()">
        <ion-icon name="ios-football-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="baseball" outline (click)="selectedCategory()">
        <ion-icon name="ios-baseball-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="basketball" outline (click)="selectedCategory()">
        <ion-icon name="ios-basketball-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tennis" outline (click)="selectedCategory()">
        <ion-icon name="ios-tennisball-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ionic_Calendar">
    <div class="calendar_Date" ng-show="UICalendarDisplay.Date">
      <ion-row class="row" style="background-color: #3498DB;color: white;padding-top: 0px;padding-bottom: 0px;">
        <ion-col col-2 align="center">
              <button ion-button color="light" clear icon-only icon-left (click)="selectedMonthPrevClick()">
                <ion-icon name="ios-arrow-back" style="padding-left: 0px;"></ion-icon>
              </button>
        </ion-col>
        <ion-col col-8 class="txtCenter">
              <button class="txtCenter" ion-button clear style="background-color:#3498DB; color:white;">{{displayMonthYear}}</button>
        </ion-col>
        <ion-col col-2 align="center">
              <button ion-button color="light" clear icon-only icon-left (click)="selectedMonthNextClick()">
                  <ion-icon name="ios-arrow-forward"></ion-icon>
              </button>
        </ion-col>
      </ion-row>
      <ion-row align="center" class="row Daysheading Daysheading_Label" style="background-color:#27C2F1; color:white; height: 27px;">
        <ion-col>일</ion-col>
        <ion-col>월</ion-col>
        <ion-col>화</ion-col>
        <ion-col>수</ion-col>
        <ion-col>목</ion-col>
        <ion-col>금</ion-col>
        <ion-col>토</ion-col>
      </ion-row>
      <ion-row class="row Daysheading" *ngFor="let rowVal of datesDisp">
        <div class="col DaysDisplay" *ngFor="let colVal of rowVal"
                        [ngClass]= "{'fadeDateDisp':(colVal.type == 'oldMonth' || colVal.type == 'newMonth'),
                                     'selDate':(colVal.date == displayDate && colVal.type == 'currentMonth')}"
                        (click)="selectedDateClick(colVal)">
                        <p class="colVal" [ngStyle]="{'color': colVal.color}">{{colVal.date}}</p>
        </div>
        <!-- [ngStyle]="{'background-color': user.color}" -->

      </ion-row>
    </div>
  </div>
  <div [ngSwitch]="category">
    <ion-list *ngSwitchCase="'football'">
      <ion-card *ngFor="let fb of footballMatchs">
        <ion-item color="positive">
          <ion-avatar item-left>
            <img *ngIf="fb.reqUserImage != 'NaN'" [src]="fb.reqUserImage"/>  <!-- Request User -->
            <img *ngIf="fb.reqUserImage == 'NaN'" src="img/noUserImg.png"/>
          </ion-avatar>
          <h2>{{fb.reqUserName}}</h2>
          <p>{{fb.mb_req_email}}</p>
        </ion-item>
        <ion-item>
          <div class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              Date <strong>{{fb.mb_start_date}} {{fb.mb_start_time}}-{{fb.mb_end_time}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Location <strong>{{fb.mb_location}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Invite Match <strong>{{fb.divisionName}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Description <strong>{{fb.mb_title}}</strong>
            </p>
          </div>
        </ion-item>
        <ion-row>
          <ion-col col-6></ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon mini name="ios-call-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-checkmark-circle-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-map-outline" item-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'baseball'">
      <ion-card *ngFor="let bb of baseballMatchs">
        <ion-item color="positive">
          <ion-avatar item-left>
            <img *ngIf="bb.reqUserImage != 'NaN'" [src]="bb.reqUserImage"/>  <!-- Request User -->
            <img *ngIf="bb.reqUserImage == 'NaN'" src="img/noUserImg.png"/>
          </ion-avatar>
          <h2>{{bb.reqUserName}}</h2>
          <p>{{bb.mb_req_email}}</p>
        </ion-item>
        <ion-item>
          <div class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              Date <strong>{{bb.mb_start_date}} {{bb.mb_start_time}}-{{bb.mb_end_time}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Location <strong>{{bb.mb_location}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Invite Match <strong>{{bb.divisionName}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Description <strong>{{bb.mb_title}}</strong>
            </p>
          </div>
        </ion-item>
        <ion-row>
          <ion-col col-6></ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon mini name="ios-call-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-checkmark-circle-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-map-outline" item-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'basketball'">
      <ion-card *ngFor="let bk of basketballMatchs">
        <ion-item color="positive">
          <ion-avatar item-left>
            <img *ngIf="bk.reqUserImage != 'NaN'" [src]="bk.reqUserImage"/>  <!-- Request User -->
            <img *ngIf="bk.reqUserImage == 'NaN'" src="img/noUserImg.png"/>
          </ion-avatar>
          <h2>{{bk.reqUserName}}</h2>
          <p>{{bk.mb_req_email}}</p>
        </ion-item>
        <ion-item>
          <div class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              Date <strong>{{bk.mb_start_date}} {{bk.mb_start_time}}-{{bk.mb_end_time}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Location <strong>{{bk.mb_location}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Invite Match <strong>{{bk.divisionName}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Description <strong>{{bk.mb_title}}</strong>
            </p>
          </div>
        </ion-item>
        <ion-row>
          <ion-col col-6></ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon mini name="ios-call-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-checkmark-circle-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-map-outline" item-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'tennis'">
      <ion-card *ngFor="let tn of tennisMatchs">
        <ion-item color="positive">
          <ion-avatar item-left>
            <img *ngIf="tn.reqUserImage != 'NaN'" [src]="tn.reqUserImage"/>  <!-- Request User -->
            <img *ngIf="tn.reqUserImage == 'NaN'" src="img/noUserImg.png"/>
          </ion-avatar>
          <h2>{{tn.reqUserName}}</h2>
          <p>{{tn.mb_req_email}}</p>
        </ion-item>
        <ion-item>
          <div class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              Date <strong>{{tn.mb_start_date}} {{tn.mb_start_time}}-{{tn.mb_end_time}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Location <strong>{{tn.mb_location}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Invite Match <strong>{{tn.divisionName}}</strong>
            </p>
            <p style="margin-top:0px;color:#000000;">
              Description <strong>{{tn.mb_title}}</strong>
            </p>
          </div>
        </ion-item>
        <ion-row>
          <ion-col col-6></ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon mini name="ios-call-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-checkmark-circle-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-map-outline" item-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>>
      </ion-card>
    </ion-list>
  </div>
</ion-content>