<ion-header>
    <div class="head-space"></div>
    <ion-navbar no-border-bottom  color="whiteSclub">
      <ion-buttons left>
        <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Notification</ion-title>
      <ion-buttons right>
        <button ion-button icon-only color="blackSclub" (click)="addNotice()">
          <ion-icon name="md-add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content>
  <ion-list no-margin no-padding *ngFor="let nm of notices_msgs">
    <div (click)="updateNotice(nm)">
      <ion-item  no-lines>
        <ion-avatar item-left>
          <img *ngIf="nm.creator_image == 'NaN'" src="img/noUserImg.png"/>
          <img *ngIf="nm.creator_image != 'NaN'" [src]="nm.creator_image"/>
        </ion-avatar>
        <h2>{{nm.creator_name}}</h2>
        <p>{{nm.msg_created_date}}</p>
      </ion-item>
      <div align="center">
          <!-- <img *ngIf="nm.msg_file == 'NaN'" src="img/noUserImg.png"/> -->
          <img *ngIf="nm.msg_file != 'NaN'" [src]="nm.msg_file"/>
      </div>
      <ion-item no-lines>
          <p style="margin-top:0px;color:#000000;">{{nm.msg_memo}}</p>
      </ion-item>
    </div>
    <ion-row>
      <ion-col col-8 align="left">
      </ion-col>
      <ion-col col-2>
        <button  ion-button small color="blackSclub" clear icon-only (click)="addLikeCnt(nm.msg_id, nm.msg_like_cnt)">
          <ion-icon mini name="ios-thumbs-up-outline">
            <span style="font-size: 10pt; color:black;">{{nm.msg_like_cnt | number:0}}</span>
          </ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button  ion-button small color="blackSclub" clear icon-only (click)="addLikeCnt(nm.msg_id, nm.msg_like_cnt)">
          <ion-icon name="ios-chatboxes-outline" item-left>
            <span style="font-size: 10pt; color:black;">{{nm.reply_cnt | number:0}}</span>
          </ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <div class="spacer" style="height: 5px; background-color: #EBEDEF;"></div>
    <br><br>
  </ion-list>
</ion-content>
