// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:     #488aff,
  secondary:   #32db64,
  danger:      #f53d3d,
  light:       #f4f4f4,
  dark:        #222,
  whiteSclub:  #ffffff,
  blackSclub:  #000000,
  graySclub:   #999999,
  twitter:     #1da1f4,
  google:      #f13f28,
  facebook:    #1479fb,
  instagram:   #000000
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// Use the primary color as the background for the toolbar-md-background
$tabs-ios-background:            color($colors, whiteSclub);
// Change the color of the segment button text
//$tabs-ios-tab-color-active:      color($colors, tab-active);
//$tabs-ios-tab-color-inactive:    color($colors, tab-inactive);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Use the primary color as the background for the toolbar-md-background
$tabs-md-background:            color($colors, whiteSclub);
// Change the color of the segment button text
//$tabs-md-tab-color-active:      color($colors, tab-active);
//$tabs-md-tab-color-inactive:    color($colors, tab-inactive);




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
