.ios {
    page-club {
        .head-space {
            background-color: #ffffff !important;   //
            height: 20px;
        }
        .outline-box {
            background-color: #ffffff;
            border: 1px solid #999999; //#424242; black;
            border-radius:3px;
            .outline-item {
                padding-left: 5px;
                .select-item {
                    max-width: 100%;
                }
            }
        }
    }    
}
.md {
    page-club {
        .outline-box {
            background-color: #ffffff;
            border: 1px solid #999999; //#424242; black;
            border-radius:3px;
            .outline-item {
                padding-left: 0px;
                .select-item {
                    max-width: 100%;
                }
            }
            .outline-button {
                padding-left: 8px;
            }       
        }
    }
}

page-club {
    .title.title-md {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 70%;
      text-align: center;
    }

    #map {
        width: 100%;
        height: 50%;
    }
    #place_input {
        width: 349px;
        height: 31px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
    }
    
    .image-border {
        position: relative;
        background: #ffffff;
    }
    .img-square{
        width: 200px;   //200px
        height: 200px;  //200px
        background-size: cover;
        display: block;
    }
    .img-circular{
        width: 200px;   //200px
        height: 200px;  //200px
        background-size: cover;
        display: block;
        border-radius: 100px;   //100px
        -webkit-border-radius: 100px;   //100px
        -moz-border-radius: 100px;  //100px
    }
    .img-camera {
        z-index: 2;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 64%;
        top: 75%;
        margin: auto;
    }
    
    .input-cover{position: static}    
    //--remove all validation lines (red/green/blue).
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
}
