<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="clubImgFlag" class="item image-border" align="center" (click)="presentActionSheet()">
    <img class="img-camera" src="img/camera.png"/>
    <img *ngIf="!takePictureFlag" class="img-square" [src]="disp_emblem"/>
    <img *ngIf="takePictureFlag" class="img-square" src="{{pathForImage(lastImage)}}">
  </div>
  <div *ngIf="!clubImgFlag" class="item image-border" align="center" (click)="presentActionSheet()">
    <img class="img-camera" src="img/camera.png"/>
    <img *ngIf="!takePictureFlag" class="img-square" src="img/empty.png"/>
    <img *ngIf="takePictureFlag" class="img-square" src="{{pathForImage(lastImage)}}">
  </div>

  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-label>Name</ion-label>
        <ion-input [(ngModel)]="club_name" type="text" placeholder="Name"></ion-input>
      </ion-item>
    </div>
  </div>
  <div *ngIf="clubUpdateFlag">
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-label>Location</ion-label>
          <ion-input [(ngModel)]="club_location" type="text" placeholder="Location"></ion-input>
        </ion-item>
      </div>
    </div>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <!-- Google map -->
  <ion-item no-lines style="padding-left: 5px;">
    <input id="place_input" name="place_input" type="text" placeholder="Input club location..." [(ngModel)]="club_address">
  </ion-item>
  <div #map id="map"></div>
  <!-- Google map -->
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-label>Contact email</ion-label>
        <ion-input [(ngModel)]="club_contact_email" type="text" placeholder="Contact email"></ion-input>
      </ion-item>
    </div>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-textarea [(ngModel)]="club_intro" type="text" placeholder="Introduce"></ion-textarea>
      </ion-item>
    </div>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-label>Open Level</ion-label>
        <ion-select [(ngModel)]="club_open_flag" cancelText="취소" okText="선택" (ionChange)="selectedOpenFlag($event)">
          <ion-option *ngFor="let o of openFlags" [value]="o.club_open_flag">{{ o.desc }}</ion-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
    <button *ngIf="clubUpdateFlag" ion-button block (click)="submitUpdate()">변경하기</button>
    <button *ngIf="!clubUpdateFlag" ion-button block (click)="submitCreate()">등록하기</button>
  </div>
  <div class="spacer" style="height: 10px;"></div>
</ion-content>