<ion-header>
  <ion-navbar no-border-bottom color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only color="blackSclub" (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Join Club</ion-title>
  </ion-navbar>
  <ion-toolbar color="whiteSclub">
    <ion-searchbar (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let c of clubs">
    <ion-item no-lines>
      <ion-avatar item-start>
        <img *ngIf="c.club_emblem != 'NaN'" [src]="c.club_emblem"/>
        <img *ngIf="c.club_emblem == 'NaN'" src="img/noUserImg.png"/>
      </ion-avatar>
      <h2>{{c.club_name}}</h2>
    </ion-item>
  </ion-list>

</ion-content>
