<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only color="blackSclub" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>My Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="spacer" style="height: 30px;"></div>
  <div *ngIf="userImgFlag" class="item image-border" align="center" (click)="updateImg()">
    <img class="img-camera" src="img/camera.png"/>
    <img *ngIf="!delFlag" class="img-circular" [src]="getUserImgUrl"/>
    <img *ngIf="delFlag" class="img-circular" [src]="getUserImgUrl" style="opacity:0.2;"/>
  </div>
  <div *ngIf="!userImgFlag" class="item image-border" align="center" (click)="updateImg()">
    <img class="img-camera" src="img/camera.png"/>
    <img class="img-circular" src="img/noUserImg.png"/>
  </div>
  <div class="spacer" style="height: 30px;"></div>
  <ion-item no-lines>
    <ion-icon md="ios-mail-outline" item-start color="blackSclub"></ion-icon>{{u_email}}
  </ion-item>
  <div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div>
  <ion-item no-lines>
    <ion-icon md="ios-bookmark-outline" item-start color="blackSclub"></ion-icon>{{u_name}}
  </ion-item>
  <div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div>
  <ion-item no-lines>
    <ion-icon md="ios-call-outline" item-start color="blackSclub"></ion-icon>{{u_phone_no}}
  </ion-item>
  <div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div>
  <ion-item no-lines>
    <ion-icon md="ios-rose-outline" item-start color="blackSclub"></ion-icon>{{u_birthday}}
  </ion-item>
  <div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div>
  <ion-item no-lines color="none" (click)="logout()">
    <ion-icon name="ios-log-out" item-left></ion-icon>
    Logout
    <ion-icon name="ios-arrow-forward" item-right color="graySclub"></ion-icon>
  </ion-item>
</ion-content>
