page-intro {
    /*
    .intro-slider-checkbox {
        text-align: center;
        ion-toggle {
            display: inline-block;
        }
    }
    */
  .title.title-md {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 70%;
      text-align: center;
    }
  /*
  .ion-img {
    object-fit: cover;
  }
  */
}
