<ion-header>
  <ion-toolbar color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only color="underblack" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons end>
      <ion-item no-lines>
        <ion-label>다시 보지 않기</ion-label>
        <ion-toggle [(ngModel)]="options.showNextTime" (ionChange)="doNotShow()"></ion-toggle>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="spacer" style="height: 60px;"></div>
  <div align="center">
    <ion-img src="img/sClub-original.png" style="background-color: rgba(255, 255, 255, 0.7); object-fit: cover;" width="320" height="160"></ion-img>
  </div>
  <ion-slides [pager]="true" style="height: 250px">
    <ion-slide *ngFor="let c of rest.category">
      <div align="center">
        <ion-img [src]="c.cc_image" style="background-color: rgba(255, 255, 255, 0.7); width: 120px; height: 120px"></ion-img>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
