<ion-header>
  <ion-toolbar color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only color="blackSclub" (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Create Club</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

</ion-content>
