<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>CRUD notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <button ion-button icon-only clear color="blackSclub">
          <ion-icon name="ios-home-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear color="blackSclub">
          <ion-icon name="ios-home-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear color="blackSclub">
          <ion-icon name="ios-home-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear color="blackSclub">
          <ion-icon name="ios-home-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear color="blackSclub">
          <ion-icon name="ios-home-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear color="blackSclub">
          <ion-icon name="ios-home-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>