<ion-header>
  <div class="head-space"></div>
  <ion-navbar no-border-bottom  color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>schedule</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="blackSclub" (click)="addSchedule()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let s of schedule">
    <ion-item color="positive">
      <ion-avatar item-left>
        <img *ngIf="s.register_image != 'NaN'" [src]="s.register_image"/>  <!-- Request User -->
        <img *ngIf="s.register_image == 'NaN'" src="img/noUserImg.png"/>
      </ion-avatar>
      <h2>{{s.register_name}}</h2>
      <p>{{s.schedule_created}}</p>
    </ion-item>
    <ion-item detail-none (click)="updateSchedule(s)">
      <div class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          Date <strong>{{s.start_date}} {{s.start_time}}-{{s.end_time}}</strong>
        </p>
        <p style="margin-top:0px;color:#000000;">
          Location <strong>{{s.g_location}}</strong>
        </p>
        <p style="margin-top:0px;color:#000000;">
          Invite Match <strong>{{s.divisionName}}</strong>
        </p>
        <p style="margin-top:0px;color:#000000;">
          Description <strong>{{s.description}}</strong>
        </p>
      </div>
      <ion-icon name="ios-arrow-forward" item-end color="undergray"></ion-icon>
    </ion-item>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-3>
        <button ion-button color="blackSclub" clear icon-only>
          <ion-icon mini name="ios-person-add-outline" item-left>
            <span style="font-size: 10pt; color:black;">{{s.attend_cnt}}</span>
          </ion-icon>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button color="blackSclub" clear icon-only>
          <ion-icon name="ios-sad-outline" item-left>
            <span style="font-size: 10pt; color:black;">{{s.non_attend_cnt}}</span>
          </ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button color="blackSclub" clear icon-only>
          <ion-icon name="ios-locate-outline" item-left>
            <span style="font-size: 10pt; color:black;"></span>
          </ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>