<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only color="blackSclub" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Set My Club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-divider color="light">
    <span style="font-size: 12pt; font-weight:bold; color:black;">My setting</span>
  </ion-item-divider>
  <ion-item>
    <ion-label>
      Birthday
    </ion-label>
    <ion-toggle color="positive" checked="false"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>
      Alarm
    </ion-label>
    <ion-toggle color="positive" checked="false"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>
      Message
    </ion-label>
    <ion-toggle color="positive" checked="false"></ion-toggle>
  </ion-item>
  <div class="spacer" style="height: 10px;"></div>
</ion-content>
