.ios {
    page-set-my-club {
        .head-space {
            background-color: #ffffff !important;   //
            height: 20px;
        }
    }
}
page-set-my-club {

    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }

    .image-border {
        position: relative;
        background: #ffffff;
    }
    .img-circular{
        width: 100px;   //200px
        height: 100px;  //200px
        background-size: cover;
        display: block;
        border-radius: 50px;   //100px
        -webkit-border-radius: 50px;   //100px
        -moz-border-radius: 50px;  //100px
    }
    .img-camera {
        z-index: 2;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 55%;
        top: 75%;
        margin: auto;
    } 

}
