<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>CRUD schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="updateFlag">
    <ion-item no-lines>
      <ion-avatar item-left>
        <img *ngIf="register_image != 'NaN'" [src]="register_image"/>  <!-- Request User -->
        <img *ngIf="register_image == 'NaN'" src="img/noUserImg.png"/>
      </ion-avatar>
      <h2>{{register_name}}</h2>
      <p>{{schedule_created}}</p>
    </ion-item>
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-label>Location</ion-label>
          <ion-input [(ngModel)]="g_location" type="text" placeholder="Location"></ion-input>
        </ion-item>
      </div>
    </div>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <!-- Google map -->
  <ion-item no-lines style="padding-left: 5px;">
    <input id="place_input" name="place_input" type="text" placeholder="Input location..." [(ngModel)]="g_address">
  </ion-item>
  <div #map id="map"></div>
  <!-- Google map -->
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-label style="color:#999999;">Contact</ion-label>
        <ion-input [(ngModel)]="register_email" type="text" placeholder="Contact email"></ion-input>
      </ion-item>
    </div>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-label style="color:#999999;" class="input-label">제목</ion-label>
        <ion-input type="text" [(ngModel)]="title" placeholder="제목...." required></ion-input>
      </ion-item>
    </div>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
    <div class="outline-box">
      <ion-item no-lines class="outline-item outline-button">
        <ion-label style="color:#999999;">경기종류</ion-label>
        <ion-select [(ngModel)]="g_division" cancelText="취소" okText="선택" (ionChange)="changedDivision($event)">
          <ion-option *ngFor="let d of divisions" [value]="d.id">{{d.kr_name}}</ion-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
    <div class="outline-box">
      <ion-item no-lines class="outline-item outline-button">          
        <ion-label style="color:#999999;">경기방식</ion-label>
        <ion-select [(ngModel)]="g_method" cancelText="취소" okText="선택" (ionChange)="changedMethod($event)">
          <ion-option *ngFor="let m of methods" [value]="m.id">{{m.kr_name}}</ion-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
  <div *ngIf="updateFlag">
    <div class="spacer" style="height: 10px;"></div>
    <div *ngIf="updateStartFlag" style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item outline-button">
          <ion-label style="color:#999999;">시작일시</ion-label>
          <ion-datetime [(ngModel)]="start_date_time" displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm"
                        (ionChange)="selectedStart($event)"></ion-datetime>
        </ion-item>
      </div>
    </div>
    <div *ngIf="!updateStartFlag" style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item outline-button" (click)="updateStartDate()">
          <ion-label style="color:#999999;">시작일시</ion-label>
          <ion-input type="text" [(ngModel)]="disp_s_date_time" readonly></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div *ngIf="updateEndFlag" style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item outline-button">
          <ion-label style="color:#999999;">종료일시</ion-label>
          <ion-datetime [(ngModel)]="end_date_time" displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm"
                        (ionChange)="selectedEnd($event)"></ion-datetime>
        </ion-item>
      </div>
    </div>
    <div *ngIf="!updateEndFlag" style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item outline-button" (click)="updateEndDate()">
          <ion-label style="color:#999999;">종료일시</ion-label>
          <ion-input type="text" [(ngModel)]="disp_e_date_time" readonly></ion-input>
        </ion-item>
      </div>
    </div>
  </div>
  <div *ngIf="!updateFlag">
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item outline-button">
          <ion-label style="color:#999999;">시작일시</ion-label>
          <ion-datetime [(ngModel)]="start_date_time" displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm"
                        (ionChange)="selectedStart($event)"></ion-datetime>
        </ion-item>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="padding-left: 5px; padding-right: 5px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item outline-button">
          <ion-label style="color:#999999;">종료일시</ion-label>
          <ion-datetime [(ngModel)]="end_date_time" displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm"
                        (ionChange)="selectedEnd($event)"></ion-datetime>
        </ion-item>
      </div>
    </div>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
  <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-label style="color:#999999;" class="input-label">내용</ion-label>
        <ion-textarea [(ngModel)]="description" placeholder="내용 쓰기...." required></ion-textarea>
      </ion-item>
    </div>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-label style="color:#999999;" class="input-label">준비물</ion-label>
        <ion-textarea [(ngModel)]="g_preparation" placeholder="준비물...." required></ion-textarea>
      </ion-item>
    </div>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
    <button *ngIf="updateFlag" ion-button block (click)="submitUpdate()">변경하기</button>
    <button *ngIf="!updateFlag" ion-button block (click)="submitCreate()">등록하기</button>
  </div>
  <div class="spacer" style="height: 10px;"></div>
</ion-content>
