<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="whiteSclub">
    <ion-buttons left>
      <button ion-button icon-only  color="blackSclub" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>vote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
