<ion-header>
  <ion-toolbar color="underwhite">
    <ion-title>회원가입</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="underblack" (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item no-lines style="padding-left: 0px;">
    <ion-input #u_email1 [(ngModel)]="u_email" type="email" placeholder="이메일" (keypress)="u_email_eventHandler($event.keyCode)" clearInput></ion-input>
  </ion-item>
  <div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div>
  <div class="spacer" style="height: 5px;"></div>
  <ion-item no-lines style="padding-left: 0px;">
    <ion-input #u_password1 [(ngModel)]="u_password" type="password" placeholder="비밀번호(영문,숫자조합 6~15자리)" (blur)="u_password_onBlur($event)" clearInput></ion-input>
  </ion-item>
  <div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div>
  <div class="spacer" style="height: 5px;"></div>
  <ion-item no-lines style="padding-left: 0px;">
    <ion-input #c_password1 [(ngModel)]="c_password" type="password" placeholder="비밀번호 확인" clearInput></ion-input>
  </ion-item>
  <div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div>
  <div class="spacer" style="height: 5px;"></div>
  <ion-item no-lines style="padding-left: 0px;">
    <ion-input #u_name1 [(ngModel)]="u_name" type="text" placeholder="이름" clearInput></ion-input>
  </ion-item>
  <div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div>
  <div class="spacer" style="height: 5px;"></div>
  <ion-item no-lines style="padding-left: 0px;">
    <ion-input #u_phone_no1 [(ngModel)]="u_phone_no" type="text" placeholder="전화번호" clearInput></ion-input>
  </ion-item>
  <div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div>
  <div class="spacer" style="height: 5px;"></div>
  <ion-item no-lines style="padding-left: 0px;">
    <ion-label style="color:#999999;">&nbsp;&nbsp;생일</ion-label>
    <ion-datetime [(ngModel)]="u_birthday" displayFormat="YYYY년 MM월 DD일" pickerFormat="YYYY-MM-DD" clearInput></ion-datetime>
  </ion-item>
  <div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div>

  <ion-row>
    <ion-col>
      <button ion-button block (click)="submitRegiste()">가입하기</button>
    </ion-col>
  </ion-row>
  <ion-row><div class="spacer" style="height: 10px;"></div></ion-row>
  <ion-row>
    <ion-col col-5 style="padding-top: 10px;"><div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div></ion-col>
    <ion-col col-2 style="padding-top: 0px;" align="center"><span style="font-size: 8pt; font-weight:bold; color:gray">또는</span></ion-col>
    <ion-col col-5 style="padding-top: 10px;"><div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div></ion-col>
  </ion-row>
  <ion-row><div class="spacer" style="height: 10px;"></div></ion-row>
  <ion-row>
    <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
      <button ion-button icon-start block color="facebook" (click)="DoFbLogin()">
        <ion-icon name="logo-facebook" color="underwhite"></ion-icon>&nbsp;&nbsp;&nbsp;페이스북으로 회원가입</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
      <button ion-button icon-start block color="google" (click)="DoGoogleLogin()">
        <ion-icon name="logo-google" color="underwhite"></ion-icon>&nbsp;&nbsp;&nbsp;구글로 회원가입</button>
    </ion-col>
  </ion-row>
  <div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div>
  <ion-row>
    <ion-col align="center">
      <button ion-button clear class="btn-text" (click)="termsUse()"><span>이용약관</span></button>
      <button ion-button clear class="btn-text" disabled><span>|</span></button>
      <button ion-button clear class="btn-text" (click)="privacyPolicy()"><span>개인정보 취급방침</span></button>
    </ion-col>
  </ion-row>
  <ion-row>    
    <ion-col align="center" style="padding-top: 5px;"><span style="color:gray">©SCLUB.</span></ion-col>
  </ion-row>

</ion-content>
