<ion-header color="whiteSclub">
  <div class="head-space"></div>
  <ion-navbar no-border-bottom>
    <ion-buttons left>
      <button ion-button icon-only  color="blackSclub" (click)="searchClub()">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>New Feed</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="blackSclub"  (click)="addMessage()">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-margin no-padding *ngFor="let gm of all_msgs">
      <ion-item  no-lines>
        <ion-avatar item-left>
          <img *ngIf="gm.creator_image == 'NaN'" src="img/noUserImg.png"/>
          <img *ngIf="gm.creator_image != 'NaN'" [src]="gm.creator_image"/>
        </ion-avatar>
        <h2>{{gm.club_name}}</h2>
        <p>{{gm.creator_name}}&nbsp;&nbsp;{{gm.msg_created_date}}</p>
      </ion-item>
      <div align="center">
          <!-- <img *ngIf="gm.msg_file == 'NaN'" src="img/noUserImg.png"/> -->
          <img *ngIf="gm.msg_file != 'NaN'" [src]="gm.msg_file"/>
      </div>
      <ion-item no-lines>
          <p style="margin-top:0px;color:#000000;">{{gm.msg_memo}}</p>
      </ion-item>
      <ion-row>
        <ion-col col-8 align="left">
        </ion-col>
        <ion-col col-2>
          <button  ion-button small color="blackSclub" clear icon-only (click)="addLikeCnt(gm.msg_id, gm.msg_like_cnt)">
            <ion-icon mini name="ios-thumbs-up-outline">
              <span style="font-size: 10pt; color:black;">{{gm.msg_like_cnt | number:0}}</span>
            </ion-icon>
          </button>
        </ion-col>
        <ion-col col-2>
          <button  ion-button small color="blackSclub" clear icon-only (click)="addLikeCnt(gm.msg_id, gm.msg_like_cnt)">
            <ion-icon name="ios-chatboxes-outline" item-left>
              <span style="font-size: 10pt; color:black;">{{gm.reply_cnt | number:0}}</span>
            </ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <div class="spacer" style="height: 5px; background-color: #EBEDEF;"></div>
      <br><br>
    </ion-list>
</ion-content>
