<ion-header>
  <ion-toolbar no-border-top color="whiteSclub">
    <ion-segment [(ngModel)]="category" color="blackSclub">
      <ion-segment-button value="football" outline (click)="loadMap(category)">
        <ion-icon name="ios-football-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="baseball" outline (click)="loadMap(category)">
        <ion-icon name="ios-baseball-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="basketball" outline (click)="loadMap(category)">
        <ion-icon name="ios-basketball-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tennis" outline (click)="loadMap(category)">
        <ion-icon name="ios-tennisball-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="gpsFlag" map id="cmap" class="map"></div>
  <!-- <div #map id="map" data-tap-disabled="true"></div> -->
  <div class="spacer" style="height: 5px;"></div>
  <div class="spacer" style="height: 5px; background-color:#eeeeee;" ></div>
  <div [ngSwitch]="category">
    <ion-list *ngSwitchCase="'football'">
      <ion-card *ngFor="let fb of footballClubs">
        <ion-item color="none">
          <ion-thumbnail item-left>
            <img *ngIf="fb.club_emblem != 'NaN'" [src]="fb.club_emblem"/>  <!-- club emblem -->
            <img *ngIf="fb.club_emblem == 'NaN'" src="img/empty.png"/>
          </ion-thumbnail>
          <h2>{{fb.club_name}}</h2>
          <p style="margin-top:0px;color:#000000;">
            Members <strong>{{fb.member_cnt}}</strong>
          </p>
          <p style="margin-top:0px;color:#000000;">
            Home ground <strong>{{fb.club_location}}</strong>
          </p>
          <p style="margin-top:0px;color:#000000;">
            Skill <strong>Midum</strong>
          </p>
          <p style="margin-top:0px;color:#000000;">
            Uniform color <strong>White/Black</strong>
          </p>
        </ion-item>
        <ion-row>
          <ion-col col-6></ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon mini name="ios-call-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-checkmark-circle-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-map-outline" item-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'baseball'">
      <ion-card *ngFor="let bb of baseballClubs">
        <ion-item color="none">
          <ion-thumbnail item-left>
            <img *ngIf="bb.club_emblem != 'NaN'" [src]="bb.club_emblem"/>  <!-- club emblem -->
            <img *ngIf="bb.club_emblem == 'NaN'" src="img/empty.png"/>
          </ion-thumbnail>
          <h2>{{bb.club_name}}</h2>
          <p style="margin-top:0px;color:#000000;">
            Members <strong>{{bb.member_cnt}}</strong>
          </p>
          <p style="margin-top:0px;color:#000000;">
            Home ground <strong>{{bb.club_location}}</strong>
          </p>
          <p style="margin-top:0px;color:#000000;">
            Skill <strong>Midum</strong>
          </p>
          <p style="margin-top:0px;color:#000000;">
            Uniform color <strong>White/Black</strong>
          </p>
        </ion-item>
        <ion-row>
          <ion-col col-6></ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon mini name="ios-call-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-checkmark-circle-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-map-outline" item-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'basketball'">
      <ion-card *ngFor="let bk of basketballClubs">
        <ion-item color="none">
          <ion-thumbnail item-left>
            <img *ngIf="bk.club_emblem != 'NaN'" [src]="bk.club_emblem"/>  <!-- club emblem -->
            <img *ngIf="bk.club_emblem == 'NaN'" src="img/empty.png"/>
          </ion-thumbnail>
          <h2>{{bk.club_name}}</h2>
          <p style="margin-top:0px;color:#000000;">
            Members <strong>{{bk.member_cnt}}</strong>
          </p>
          <p style="margin-top:0px;color:#000000;">
            Home ground <strong>{{bk.club_location}}</strong>
          </p>
          <p style="margin-top:0px;color:#000000;">
            Skill <strong>Midum</strong>
          </p>
          <p style="margin-top:0px;color:#000000;">
            Uniform color <strong>White/Black</strong>
          </p>
        </ion-item>
        <ion-row>
          <ion-col col-6></ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon mini name="ios-call-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-checkmark-circle-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-map-outline" item-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'tennis'">
      <ion-card *ngFor="let tn of tennisClubs">
        <ion-item color="none">
          <ion-thumbnail item-left>
            <img *ngIf="tn.club_emblem != 'NaN'" [src]="tn.club_emblem"/>  <!-- club emblem -->
            <img *ngIf="tn.club_emblem == 'NaN'" src="img/empty.png"/>
          </ion-thumbnail>
          <h2>{{tn.club_name}}</h2>
          <p style="margin-top:0px;color:#000000;">
            Members <strong>{{tn.member_cnt}}</strong>
          </p>
          <p style="margin-top:0px;color:#000000;">
            Home ground <strong>{{tn.club_location}}</strong>
          </p>
          <p style="margin-top:0px;color:#000000;">
            Skill <strong>Midum</strong>
          </p>
          <p style="margin-top:0px;color:#000000;">
            Uniform color <strong>White/Black</strong>
          </p>
        </ion-item>
        <ion-row>
          <ion-col col-6></ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon mini name="ios-call-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-checkmark-circle-outline" item-left></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button color="blackSclub" clear icon-only>
              <ion-icon name="ios-map-outline" item-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>
  <div class="spacer" style="height: 5px;"></div>
</ion-content>